<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
 
</head>

  
<body>

  
  <h2>作中使用魔法一覧</h2>
  <h5>注：一覧に表示されている魔法は全てではなく、一部のみ抜粋している。</h5>
  <div>
     <form action="/magicnum2">
    
    <input type="submit" value="使用回数降順">
     </form>
    <br></br>
  <table>
    <h4>魔法名   　　　 　　　　　　　   　 　意味　　 
    使用回数</h4>
    <h5>---------------------------------------------------------------</h5>
      <% for( let row of data ) { %>
        <tr>
          
          <td><%= row.magic_name %></td>
          <td><%= row.mean %></td>
          <td><%= row.number %></td><td>回</td>

        </tr>
      <% } %>

        </body>
        </html>
        
  </table>
        
        <a href="/public/Harry Potter.html">作中キャラ一覧へ戻る</a><br>
</body>
</html>