<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Message</h2>
  <p><%= mes %></p>
  <a href="/bye">bye</a><br>
  <a href="/public/test.html">test.html</a><br>
  <a href="/public/input01.html">人口の多い順（少ない順）に都道府県を表示する）</a>
  <a href="/db/1">/db</a><br>
  <a href="/public/insert.html">insert.html</a><br>
  
</body>
</html>