          <!Doctype html>
          <html>
          <head>
            <meta charset="utf-8">
            <title>Show message</title>
          </head>
          <body>
            <h2>使用魔法一覧</h2>
            <h5>注：一覧に表示されている魔法は全てではなく、一部のみ抜粋している。</h5>
            <table>
                <% for( let row of data ) { %>
                  <tr>
                     
                    <td><%= row.magic_name %></td>
                    
                  </tr>
                <% } %>
            </table>
                  <a href="/public/Harry Potter.html">キャラクター一覧へ戻る</a><br>
                  <a href="/magicnum">全魔法一覧へ</a><br>
          </body>
          </html>